{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "rules":{
    "prettier/prettier": [1, { "trailingComma": "es5", "singleQuote": true }]
  }
}